<tm-card>
    <tm-card-body>
        <table>
            <thead>
                <tr>
                    <th> S.No</th>
                    <th>Product Details</th>
                    <th>Email</th>
                    <th>Order Date</th>
                    <th>Order Total</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orderData of orderData;let i=index;">
                    <td>{{i+1}}</td>

                    <td>
                        <div *ngFor="let productData of orderData.product;">{{productData.productName}}</div>
                    </td>
                    <td>{{orderData.email}}</td>
                    <td>{{orderData.date |date}}</td>
                    <td>{{orderData.totalvalue}}</td>
                    <td>{{orderData.address}}</td>
                    <td style="display: flex;flex-direction: row;padding: 5px; gap:5px;">
                        <div style="padding-top: 10px;" *ngIf="visibleIndex !== i">{{orderData.status}}</div>
                        <form  style="padding: 5px;"*ngIf="visibleIndex === i" [formGroup]="statusForm">
                            <tm-select [(selected)]="orderData.status" placeholder="status" formControlName="status"
                                fullWidth>
                                <tm-option value="processing">processing</tm-option>
                                <tm-option value="Packed">Packed</tm-option>
                                <tm-option value="Shipped">Shipped</tm-option>
                                <tm-option value="Delivered">Delivered</tm-option>

                            </tm-select>

                        </form>
                       
                    </td>
                    <td>
                        <button style="padding: 5px;" tmButton *ngIf="visibleIndex !== i" status="primary" (click)= showSubItem(i)><svg width="24" height="24"
                            viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Iconly/Light/Edit">
                                <g id="Edit">
                                    <path id="Stroke 1" d="M13.7473 20.4428H20.9999" stroke="white"
                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path id="Stroke 3" fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12.78 3.79479C13.5557 2.86779 14.95 2.73186 15.8962 3.49173C15.9485 3.53296 17.6295 4.83879 17.6295 4.83879C18.669 5.46719 18.992 6.80311 18.3494 7.82259C18.3153 7.87718 8.81195 19.7645 8.81195 19.7645C8.49578 20.1589 8.01583 20.3918 7.50291 20.3973L3.86353 20.443L3.04353 16.9723C2.92866 16.4843 3.04353 15.9718 3.3597 15.5773L12.78 3.79479Z"
                                        stroke="white" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path id="Stroke 5" d="M11.0208 6.00098L16.473 10.1881" stroke="white"
                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                            </g>
                        </svg></button>
                    <button style="padding: 5px;"  status="primary"  *ngIf="visibleIndex === i" tmButton (click)="orderUpdate(orderData.id,i)"><svg width="24"
                            height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 12L10.0011 16L18 8" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </tm-card-body>
</tm-card>