<br>
<form class="signupForm" [formGroup]="signUpForm" action="">
  <tm-form-field>
    <input type="text" shape="semi-round" class="form-control" formControlName="userName" fullWidth
      placeholder="User Name" tmInput [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
    <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
      <div *ngIf="f.userName.errors?.required">UserName is required</div>
    </div>
  </tm-form-field>
  <tm-form-field>
    <input type="email" shape="semi-round" class="form-control" formControlName="email" fullWidth placeholder="Email"
      tmInput [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors?.required">Email is required</div>
      <div *ngIf="f.email.errors?.email">Email is invalid</div>
    </div>
  </tm-form-field>
  <tm-form-field>
    <input type="tel" shape="semi-round" class="form-control" formControlName="phoneNumber" fullWidth
      placeholder="Phone Number" tmInput [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
    <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
      <div *ngIf="f.phoneNumber.errors?.required">Phone Number is required</div>
    </div>
  </tm-form-field>
  <tm-form-field>
    <input shape="semi-round" placeholder="password" class="form-control" fullWidth formControlName="password"
      [type]="getInputType()" tmInput [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
    <button tmSuffix tmButton ghost (click)="toggleShowPassword()">
      <i [class]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"
        [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
      </i>
    </button>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors?.required">Password is required</div>
      <div *ngIf="f.password.errors?.minlength">
        Password must be at least 6 characters
      </div>
      <div *ngIf="f.password.errors.maxlength">
        Username must not exceed 40 characters
      </div>
    </div>
  </tm-form-field>


  <tm-checkbox class="form-control" formControlName="agree" status="basic"
    [ngClass]="{ 'is-invalid': submitted && f.agree.errors }">I agree the <a href=""> Terms and condition</a>
    and <a href="">Privacy Policy</a>
  </tm-checkbox>
  <div *ngIf="submitted && f.agree.errors" class="invalid-feedback">
    <div *ngIf="f.agree.errors?.required"> You have to agree the terms and condition</div>
  </div>



  <button (click)="signIn()" shape="semi-round" tmButton status="primary" fullWidth>Sign Up</button>
</form>