$background-color: var(--header-background-color);
$text-color: var(--text-basic-color);


tm-layout {
    tm-layout-header {


        .headerContainer {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            .headercontent {
                display: flex;

            }

            svg {
                path {
                    stroke: $text-color;
                }

            }
        }

        h1 {
            font-family: 'Akronim';

        }
    }

    tm-sidebar {
        background-color: $background-color;
        button{
            display: none;
          }
        .headercontent {
            font-family: 'Akronim';
            display: none;
        }

        ul {

            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 0%;
            position: relative;
            left: -15px;

            li {

                list-style: none;

                a {
                    padding: 20px;
                    display: flex;
                    flex-flow: row nowrap;
                    gap: 12px;
                    text-decoration: none;
                    color: $text-color;
                    font-size: 12pt;

                    svg {

                        fill: $text-color;

                        path {
                            stroke: $text-color;
                        }

                    }
                }

                &:is(:hover,.active) {
                    background-color: $text-color;

                    a {
                        color: var(--header-background-color);

                        svg {
                            fill: var(--header-background-color);

                            path {
                                stroke: var(--header-background-color);
                            }

                        }
                    }

                }

            }

        }

        .sidebar-content {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            flex-direction: column;
            font-size: 16px;
            padding: 16px;
            height: 100%;

            .layoutSetting {
                display: flex;
                gap: 12px;
                flex-direction: column;
            }
        }

        // &:nth-child(2) {
        //     position: relative;
        //     background-color: var(--header-background-color);

        //     .sidebar-opener {
        //         cursor: pointer;
        //         width: 60px;
        //         height: 60px;
        //         padding: 10px;
        //         border-radius: 10px;
        //         background-color: $background-color;
        //         position: absolute;
        //         top: 180px;
        //         left: 240px;
        //         z-index: 1;

        //         svg {
        //             width: 40px;
        //             height: 40px;

        //             path {
        //                 stroke: white;

        //             }

        //             circle {
        //                 stroke: white;
        //             }
        //         }

        //     }
        // }
    }
    [dir=rtl] tm-sidebar{
        position: relative;
        left: 20%;
    }

    tm-layout-column:nth-child(1) {
        padding: 0%;

        * {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            box-sizing: border-box;
            font-size: 16px;
        }
        footer {
            width: 100%;
            height: 50px;
            background-color: var(--header-background-color);
            padding: 15px;
            display: flex;
            justify-content: center;
          }



        .sidebar-slider {
            position: fixed;
            top: 0;
            right: -250px;
            bottom: 0;
            background-color: var(--header-background-color);
            transform: translateX(-100%);
            transition: ease-in-out 300ms transform;
            width: 250px;
            z-index: 1;

            .sidebar-opener {
                cursor: pointer;
                width: 60px;
                height: 60px;
                padding: 10px;
                border-radius: 10px;
                background-color: $text-color;
                position: absolute;
                top: 180px;
                left: -60px;
                z-index: 1;


                svg {
                    width: 40px;
                    height: 40px;

                    path {
                        stroke: $background-color;

                    }

                    circle {
                        stroke: $background-color;
                    }
                }

            }

            .sidebar-content {
                display: flex;
                gap: 20px;
                flex-direction: column;
                font-size: 16px;
                padding: 16px;
                height: 100%;
                position: relative;
                top: 80px;

                .layoutSetting {
                    display: flex;
                    gap: 12px;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                }
            }
        }

        .sidebar-slider.sidebar-slide-in {
            transform: translateX(0%);
            transition: ease-in-out 600ms transform;
        }

        .sidebar-close {
            position: fixed;
            top: 0;
            right: 0;
            color: white;
            cursor: pointer;
            padding: 16px;
        }

       
    }


    [dir=rtl] .sidebar-slider {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background: var(--header-background-color);
        transform: translateX(-100%);
        transition: ease-in-out 300ms transform;
        width: 200px;
        z-index: 1;

        .sidebar-opener {
            cursor: pointer;
            width: 60px;
            height: 60px;
            padding: 10px;
            border-radius: 10px;
            background: $text-color;
            position: absolute;
            top: 180px;
            right: -60px;
            z-index: 1;

            svg {
                width: 40px;
                height: 40px;

                path {
                    stroke: $background-color;

                }

                circle {
                    stroke: $background-color;
                }
            }

        }

        .sidebar-content {
            display: flex;
            gap: 20px;

            font-size: 16px;
            padding: 16px;
            height: 100%;

            .layoutSetting {
                display: flex;
                gap: 12px;


            }
        }
    }
}

// @media screen and (max-width: 600px) and (min-width:0px) {
//     tm-layout {
//         tm-layout-header {
//             .headerContainer {
//                 .headercontent {
//                     display: none;
//                 }
//             }
//         }

//         tm-sidebar {
//             display: flex;
//             flex-flow: column;
//             gap: 50px;

//             .headercontent {
//                 font-family: 'Akronim';
//                 display: block;
//             }
//         }
//     }
// }

@media screen and (max-width: 600px) and (min-width:500px) {
    tm-layout {
        tm-layout-header {
            .headerContainer {
                .headercontent {
                    display: none;
                }
            }
        }

        tm-sidebar {
            display: flex;
            flex-flow: column;
            gap: 50px;
          button{
            display: block;
          }
            .headercontent {
                font-family: 'Akronim';
                display: block;
            }
        }
        [dir=rtl]tm-sidebar{
            
            right:-80%

        }
        tm-layout-column{
            .sidebar-slider {
                position: fixed;
                top: 0;
                right:-200px;
                bottom: 0;
               
            }
            
        }
    }
}
@media screen and (max-width: 500px) and (min-width:400px) {
    tm-layout {
        tm-layout-header {
            .headerContainer {
                .headercontent {
                    display: none;
                }
            }
        }

        tm-sidebar {
            display: flex;
            flex-flow: column;
            gap: 50px;
            button{
                display: block;
              }
            .headercontent {
                font-family: 'Akronim';
                display: block;
            }
        }
        tm-layout-column{
            .sidebar-slider {
                position: fixed;
                top: 0;
                right: -50%;
                bottom: 0;
               
            }
        }
    }
}
@media screen and (max-width: 400px) and (min-width:300px) {
    tm-layout {
        tm-layout-header {
            .headerContainer {
                .headercontent {
                    display: none;
                }
            }
        }

        tm-sidebar {
            display: flex;
            flex-flow: column;
            gap: 50px;
            button{
                display: block;
              }
            .headercontent {
                font-family: 'Akronim';
                display: block;
            }
        }
        tm-layout-column{
            .sidebar-slider {
                position: fixed;
                top: 0;
                right: -60%;
                bottom: 0;
                width: 180px;
            }
        }
    }
}
@media screen and (max-width: 300px) and (min-width:200px) {
    tm-layout {
        tm-layout-header {
            .headerContainer {
                .headercontent {
                    display: none;
                }
            }
        }

        tm-sidebar {
            display: flex;
            flex-flow: column;
            gap: 50px;
            button{
                display: block;
              }
            .headercontent {
                font-family: 'Akronim';
                display: block;
            }
        }
        tm-layout-column{
            .sidebar-slider {
                position: fixed;
                top: 0;
                right: -50%;
                bottom: 0;
                width: 80px;
            }
        }
    }
}
@media screen and (max-width: 200px) and (min-width:0px) {
    tm-layout {
        tm-layout-header {
            .headerContainer {
                .headercontent {
                    display: none;
                }
            }
        }

        tm-sidebar {
            display: flex;
            flex-flow: column;
            gap: 50px;
            button{
                display: block;
              }
            .headercontent {
                font-family: 'Akronim';
                display: block;
            }
        }
        tm-layout-column{
            .sidebar-slider {
                position: fixed;
                top: 0;
                right: -60%;
                bottom: 0;
                width: 120px;
               
            }
        }
    }
}