<br>
<!-- otp genarate form -->
<form class="signinForm" [formGroup]="signInForm" action="" *ngIf="!showEmail">
  <!-- email field -->
  <tm-form-field>
    <input type="email" shape="semi-round" class="form-control" formControlName="email" fullWidth placeholder="Email"
      tmInput [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors?.required">Email is required</div>
      <div *ngIf="f.email.errors?.email">Email is invalid</div>
    </div>
  </tm-form-field>
  <!-- otp generate -->
  <button (click)="signIn()" shape="semi-round" tmButton status="primary" [disabled]="show" fullWidth>Send OTP</button>
  <!-- otp field -->

</form>
<br>

<!-- otp conformation form -->
<form class="signinForm" [formGroup]="otpForm" *ngIf="show">
  <tm-form-field>
    <input type="email" shape="semi-round" class="form-control" formControlName="otp" fullWidth placeholder="OTP"
      tmInput [ngClass]="{ 'is-invalid': otpSubmitted && otpform.otp.errors }">
    <a (click)="resendOTP()">Resend OTP</a>
    <div class="successMessage" *ngIf="otpMessageSuccess">OTP Send Successfully</div>
    <div *ngIf="otpSubmitted && otpform.otp.errors" class="invalid-feedback">
      <div *ngIf="otpform.otp.errors?.required">OTP is required</div>
    </div>
  </tm-form-field>

  <button (click)="forgotPassword()" shape="semi-round" status="primary" tmButton>Submit</button>
</form>
<!-- password Form -->
<form class="signinForm" [formGroup]="passwordForm" *ngIf="showEmail">

  <tm-form-field>
    <input shape="semi-round" placeholder="New Password" class="form-control" fullWidth formControlName="password"
      [type]="getInputType()" tmInput [ngClass]="{ 'is-invalid':  recover && passwordRecover.password.errors }">
    <button tmSuffix tmButton ghost (click)="toggleShowPassword()">
      <i [class]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"
        [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
      </i>
    </button>
    <div *ngIf=" recover && passwordRecover.password.errors" class="invalid-feedback">
      <div *ngIf="passwordRecover.password.errors?.required">Password is required</div>
      <div *ngIf="passwordRecover.password.errors?.minlength">
        Password must be at least 6 characters
      </div>

    </div>

  </tm-form-field>
  <tm-form-field>
    <input shape="semi-round" placeholder="Confirm New Password" class="form-control" fullWidth
      formControlName="confirmPassword" [type]="getInputconformPassType()" tmInput
      [ngClass]="{ 'is-invalid':  recover && passwordRecover.confirmPassword.errors }">
    <button tmSuffix tmButton ghost (click)="toggleConformPassword()">
      <i [class]="conformPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"
        [attr.aria-label]="conformPassword ? 'hide password' : 'show password'">
      </i>
    </button>
    <div *ngIf=" recover && passwordRecover.confirmPassword.errors" class="invalid-feedback">
      <div *ngIf="passwordRecover.confirmPassword.errors?.required">Password is required</div>
      <div *ngIf="passwordRecover.confirmPassword.errors?.minlength">
        Password must be at least 6 characters
      </div>
      <div *ngIf="passwordRecover.confirmPassword.errors?.confirmedValidator">
        Password does not match
      </div>
    </div>
  </tm-form-field>
  <button (click)="recoverPassword()" status="primary" tmButton>Submit</button>
</form>