.signinForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;

    .invalid-feedback {
        color: red;
    }

    .is-invalid {
        border-color: red;
        color: red;
    }

    a {
        text-decoration: none;

    }

    .successMessage {
        text-align: center;
        color: green;
    }
}