/* You can add global styles to this file, and also import other style files */
@use '@tmlib/ui-sdk/styles/theming' as *;
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import '@tmlib/ui-sdk/styles/themes';
@import '@tmlib/ui-sdk/styles/globals';
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@include tm-install() {
    @include tm-theme-global();
  };
  
tm-route-tabset{
    
.route-tab{
    .tab-link {
        
        padding: 10px 25px 10px 25px;
        border-radius: 15px;
    }
}
    .route-tab.active {
        .tab-link{
            background-color: #3366ff;
            color:white;
        }
      
    }
}
tm-user{
 
        .user-name{
            color:white;
        }
        .user-title{
            color:white;
        }
 
    
}
